<h1>Editing avistamiento</h1>

<%= render "form", avistamiento: @avistamiento %>

<br>

<div>
  <%= link_to "Show this avistamiento", @avistamiento %> |
  <%= link_to "Back to avistamientos", avistamientos_path %>
</div>
